.create_event_template_heading{

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
color: #FFFFFF;

}


.custom-input {
    /* Add your custom styles here */
    background-color: #303030;
    color: #ffffff;
    border-color: #5e5e5e;
    /* ... other styles */
  }
  

  
  .custom-dropdown-menu{
    color: #c00000;
  }