#dropdown-basic-button {
    background-color: rgb(61, 61, 61);
    border-width: 3px;
    border-color: rgb(53, 53, 53);
    width: 26%;
  }
  
  #dropdown-basic-button:hover {
    background-color: #018653;
  }
  