/* Customize the table head */

.MuiTableHead-root {
    background-color: #ffffff; /* Change the background color */
  }
  
  /* Customize the table body */
  .MuiTableBody-root .MuiTableRow-root:nth-of-type(even) {
    background-color: #00ad65; /* Change the background color of even rows */
  }


  .MuiTableBody-root .MuiTableRow-root:nth-of-type(odd) {
    background-color: #e40000; /* Change the background color of even rows */
  }
  
  .MuiTableBody-root .MuiTableRow-root:hover {
    background-color: #424242; /* Change the background color of hovered rows */
  }
  